{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
        {% for row in sd %}
        <tr>
            {% for item in row %}
            <td>
            {% if item %}
                {{item}}
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
