{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for row in sd %}
        <tr>
            {% for item in row %}
            <td>
            {% if item %}
                {{item}}
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h4>${{gtd}}</h4></td>
        </tr>
    </table>
{% endblock %}
